Package: uci-linux-dbgsym
Package-Type: ddeb
Source: uci-linux
Version: 1.0.2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: caleee <caolei@mail.com>
Installed-Size: 289
Depends: uci-linux (= 1.0.2)
Section: debug
Priority: optional
Description: debug symbols for uci-linux
Build-Ids: 03b1d12933a654cca305b12f74cae201aa5676fb 28fde9bafee23636bc3f8cd8f84105de75edbdfb ccbe35905e6887132b4dc7360920771efc932678 e90d7c20e15ebd4434e0177c5c5ded89ae322795
